<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.hci"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/sleep"
        android:label="@string/app_name" >
        <receiver android:name=".alarm.AlarmReceiver" >
            <intent-filter>
                <action android:name="edu.neu.hci.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.DBContentProvider"
            android:authorities="edu.neu.hci.db"
            android:readPermission="android.permission.permRead"
            android:writePermission="android.permission.permWrite" />

        <activity
            android:name=".Introduction"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoodSleepActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.CaffeineQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.AlcoholQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.SmokeQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.FoodQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.ActivityQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.StressQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.SleepSummaryDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.SleepSummaryGraph"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".summary.SleepSummaryMain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.SleepScoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.AlcoholActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.CaffeineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.FoodActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.SmokingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.StressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.GoToBedTimeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.PhysicalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.SleepDurationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".summary.WakeUpTimeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".alarm.StartSleepActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".alarm.DuringSleepActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.SettingQuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".questionaire.QuestionnaireFeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".alarm.AlarmAlert"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
        <activity
            android:name=".alarm.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
    </application>

    <uses-permission android:name="android.permission.permRead" />
    <uses-permission android:name="android.permission.permWrite" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>